{% extends "base.html" %}
{% block contenido %}
<div id="resultado">
{% block encabezado %}<h3>Búsqueda por Ciudad  </h3>{% endblock%}
<form class='estiloform' name='formulario'  action=""  >
	<div><label for="q">Buscar: </label></div>
	<SELECT NAME="q"  onChange="ConsultaFiltrado('http://localhost:8000/combo/','resultado','Vacios'); return false"> 
	<OPTION VALUE= "" >Seleccione</OPTION> 
	{% for ciudad in elementos %}
		<option value="{{ciudad.id}}">{{ciudad.nombre_ciudad}}</option>
	{% endfor %}

	</SELECT>	
		<div><input type='submit' value='enviar' onclick="ConsultaFiltrado(); return false"></div>

{% if query %}
	<h2>Resultados para "{{ query|escape }}":</h2>
	{% if results %}
		<table class="table table-hover">
		<tr><td>Nombre</td><td>Direccion</td><td>Web</td><td>Idioma</td><td>Ciudad</td></tr>
		{% for universidad in results %}				
			<tr><td>{{universidad.nombre}}</td><td >{{universidad.direccion}}</td>
			<td> <a href="{{universidad.web}}" target="_blank">{{universidad.web}}</a> </td><td >{{universidad.idioma}} </td><td >{{universidad.ciudad|upper}} </td></tr>					
		{% endfor %}
		</table>	
	{% else %}
		<div class="mensaje" align="justify">No hay resultados</div>
	{% endif %}	
{% endif %}
</form>
<div id=Vacios align="center" ></div>
{% endblock %}
</div> 
